---
const { text } = Astro.props;
---
<style>
    h1 {
        font-size: 2rem;
        font-weight: bold;
    }
    svg {
        height: 25px;
        width: 25px;
        display:inline;
    }
</style>
<div>
    <h1>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M8 21c-.26 0-.51-.1-.71-.29a.996.996 0 0 1 0-1.41l7.29-7.29-7.29-7.29A.996.996 0 1 1 8.7 3.31l8 8c.39.39.39 1.02 0 1.41l-8 8c-.2.2-.45.29-.71.29Z" fill="#2C3E50"></path></svg>
        {text}
    </h1>
</div>