---
const { url, buttonText } = Astro.props;
---
<style>
    a {
        display: inline-block;
        text-decoration: none;
        color: white;
        padding: .5rem 2rem;
        background-color: #e74c3c;
        transition-duration: 250ms;
        border-radius: 5px;
        margin: 2rem .5rem;

    }

    a:hover {
        background-color: #c0392b;
        border-radius: 10px;
    }
    
    
</style>
<a href={url}>{buttonText}</a>
