---
const { header, text } = Astro.props;
---
<div>
    <h1>{header}</h1>
    <p>{text}</p>
</div>

<style>
    div {
        width: 65%;
        margin: 5rem auto;
        text-align: center;
    }

    div > h1 {
        font-size: 3rem;
        margin-bottom: 0;
    }
</style>