---
import LargeBlogPostCard from "../../components/cards/LargeBlogPostCard.astro";
import GenericPageHero from "../../components/heros/GenericPageHero.astro";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const allPosts = Object.values(import.meta.glob('../posts/*.md', { eager: true }));
  return [
    { params: { tag: "python" }, props: {posts: allPosts, tagDescription: "The snake language"} },
    { params: { tag: "webdev" }, props: {posts: allPosts, tagDescription: "General posts about web development" } },
    { params: { tag: "javascript" }, props: {posts: allPosts, tagDescription: "For some reason, I hate it. But it's cool, I guess."} },
    { params: { tag: "larping" }, props: {posts: allPosts, tagDescription: "Pretending to be a computer programmer." } },
  ];
}

const { tag } = Astro.params;
const { posts, tagDescription } = Astro.props;



const filteredPosts = posts.filter((post: any) => post.frontmatter.tags?.includes(tag)).reverse();
---
<Layout pageTitle={tag}>
  <GenericPageHero
  header={tag}
  text={tagDescription}
  />
<div>
    {filteredPosts.map((post: any) => <LargeBlogPostCard post={post} />)}
</div>
</Layout>