---
import Layout from '../layouts/Layout.astro';
import LinkButton from '../components/buttons/LinkButton.astro';
import LargeBlogPostCard from '../components/cards/LargeBlogPostCard.astro';
import BigHeader from '../components/headers/BigHeader.astro';

const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));

---
<style>
	.hero {
		width: 50%;
		margin: 2rem auto;
		padding: 2rem;
		text-align: center;
	}

	.hero > h1 {
		font-size: 4rem;
	}

	.frontpage__posts {
		width: 75%;
		margin: auto;
		text-align: center;
	}
</style>
<Layout pageTitle="Home">
	<div class="hero">
		<h1>Hello, World!</h1>
		<h2>I like to code sometimes. Maybe I'll write about it here.</h2>
		<p>
		  I'm an IT security analyst that going through his journey to the software
		  development world. In this personal blog, I'm writing about what I'm
		  learning and working on.
		</p>
		<LinkButton url="/all-posts" buttonText="See All Posts" />
		<LinkButton url="/portfolio" buttonText="Portfolio" />
		<LinkButton url="/about" buttonText="About this Site" />
	</div>
	<div class="frontpage__posts">
		<BigHeader text="Recent Blog Posts" />
		{allPosts.sort((a: any, b: any) => new Date(b.frontmatter.pubDate).getTime() - new Date(a.frontmatter.pubDate).getTime())
		.map((post: any) => <LargeBlogPostCard post={post} />)
		}
	</div>
</Layout>


