---
import Layout from "../layouts/Layout.astro";
import GenericPageHero from "../components/heros/GenericPageHero.astro";
---
<Layout pageTitle="All Posts">
<div>
    <GenericPageHero 
    header="Interesting Stuff"
    text={`This is just a place I like to keep stuff I find cool.
    It could be Hackernews articles or programming news. Whatever catches my 
    eye in the moment.
    `}
    />

</div>
</Layout>