---
import Layout from "../layouts/Layout.astro";
import GenericPageHero from "../components/heros/GenericPageHero.astro";
---
<Layout pageTitle="All Posts">
<div>
    <GenericPageHero 
    header="Roadmap"
    text={`Bottom text
    `}
    />

</div>
</Layout>