---
import Layout from "../layouts/Layout.astro";
import GenericPageHero from "../components/heros/GenericPageHero.astro";
---
<Layout pageTitle="All Posts">
<div>
    <GenericPageHero
    header="Tools"
    text="This is a collection of tools that I have created. Ranges from security tools to toys."
    />
</div>
</Layout>